{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Global">
  <meta name="keywords" content="shemale, orgasm, dick, creamy, shemale database , tranny , porn, free,  shemale porn stars, nude, sexy, shemale babes, adult, nudity, girls, chicks, teens, beautiful, boobs, tits, anal, breast, cunt, ass">
  <meta name="author" content="Adult">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <title>Shemale gallery</title>

  <link rel="stylesheet"  href="{% static 'css/bootstrap.css' %}">
 
  <link rel="stylesheet"  href="{% static 'css/scrolling-nav.css' %}">
  
</head>

<body style="background-color:rgba(255, 99, 71, 0.3);">

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index'  %}">SMA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'models'  %}">Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Best_sites'  %}">Best sites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dating</a>
          </li>
           
        </ul>
      </div>
    </div>
  </nav>



  <div class="container">

   
    <header>
    
      <a href='http://track.shemalefuckingmachines.com/track/MjYyOS4yLjEyOS4xMjkuMC42MDA2NjQ4LjAuMC4w' target="_blank" ><img src='{% static "sfm_600x100_2.gif" %}' class="img-fluid" width=100% height=100%></a> 
      
    </header>
  </div>

 <div class="container">
 {% block content %}
 {% endblock %}
</div>

   <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">All models were at least 18 years old when they were photographed</p>
       <p class="m-0 text-center text-white">Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
 <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
